body {
  font-family: Arial, sans-serif;
  background: #eaedf0;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app {
  background: rgb(244, 238, 238);
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
}

input,
textarea,
select {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
}

button {
  background: #5fc889;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

button:hover {
  background: #2a8d52;
}

.movie-item {
  background: #f1f3f5;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.movie-item h3 {
  margin: 0;
  color: #222;
}

.movie-item p {
  margin: 4px 0;
}

.movie-item button {
  background: #dc3545;
  margin-top: 5px;
}

.movie-item button:hover {
  background: #b02a37;
}
